apiVersion: v1
kind: ConfigMap
metadata:
  name: metabase-config
data:
  MB_DB_TYPE: "postgres"
  MB_DB_DBNAME: "metabase"
  MB_DB_PORT: "5432"
  MB_DB_USER: "metabase_user"
  MB_DB_HOST: "postgres"
---
apiVersion: v1
kind: Secret
metadata:
  name: metabase-secret
type: Opaque
stringData:
  MB_DB_PASS: "Sergio55"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: metabase
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metabase
  template:
    metadata:
      labels:
        app: metabase
    spec:
      containers:
      - name: metabase
        image: metabase/metabase:latest
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: metabase-config
        - secretRef:
            name: metabase-secret
        resources:
          requests:
            cpu: 10m
            memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: metabase
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30030
  selector:
    app: metabase
